@import url(https://fonts.googleapis.com/css2?family=Lato);

:root {
  --theme-blue: #13c7df;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}
